<!DOCTYPE html>
<html lang="zh-CN">

<head>
	<meta charset="utf-8">
	<title>Page Not Found :(</title>
	<style>
		::-moz-selection {
			background: #b3d4fc;
			text-shadow: none;
		}
		::selection {
			background: #b3d4fc;
			text-shadow: none;
		}
		body {
			font-size: 20px;
			line-height: 1.4;
			color: #737373;
			background: #f0f0f0;
			-webkit-text-size-adjust: 100%;
			-ms-text-size-adjust: 100%;
			padding: 50px;
		}
		html, input {
			font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
		}
		a {
			color: #F85C37;
			word-wrap: break-word;
			transition: color 0.1s ease-in 0s, background 0.1s ease-in 0s;
			text-decoration: none;
			box-sizing: border-box;
		}
		h1 {
			margin: 0 10px;
			font-size: 50px;
			text-align: center;
		}
		h1 span {
			color: #bbb;
		}
		h3 {
			margin: 1.5em 0 0.5em;
		}
		p {
			margin: 1em 0;
		}
		ul {
			padding: 0 0 0 40px;
			margin: 1em 0;
		}
		.centered {
			text-align: center;
			width: 100%;
			margin: auto auto;
			box-sizing: border-box;
		}
		.container {
			padding: 30px 80px;
			width: 40%;
			border: 1px solid #b3b3b3;
			border-radius: 4px;
			margin: auto auto;
			box-shadow: 0 1px 10px #a7a7a7, inset 0 1px 0 #fff;
			background: #fcfcfc;
			box-sizing: border-box;
		}
		@media (min-width: 320px) {
			.container {
				width: 90%;
			}
		}
		@media (min-width: 768px) {
			.container {
				width: 85%;
			}
		}
		@media (min-width: 900px) {
			.container {
				width: 60%;
			}
		}
		@media (min-width: 1280px) {
			.container {
				width: 40%;
			}
		}
	</style>
</head>

<body>
	<div class="container">
		<h1>Not found <span>:(</span></h1>
		<p>Sorry, but the page you were trying to view does not exist.</p>
		<p>It looks like this was the result of either:</p>
		<ul>
			<li>a mistyped address</li>
			<li>an out-of-date link</li>
		</ul>
		<br>
		<a class="centered" href="/">Back to Index Page</a>
	</div>
</body>

</html>
