<!DOCTYPE html>

<html lang="zh_cn">
<head>
	<title>也西科技</title>
	<%- include('meta') %>
</head>
<body>
	<%- include('titlebar') %>

	<div class="container w aboutus">
		<div class="row centered">
			<div class="col-md-4">
				<img class="img-circle" src="img/avatar/gx.jpg" alt="">
				<h4>耿宵</h4>
				<p>坚持（persistent）、自信（positive）、强大（powerful.</p>
			</div>

			<div class="col-md-4">
				<img class="img-circle" src="img/avatar/jh.jpg" alt="">
				<h4>江航</h4>
				<p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form.</p>
			</div>

			<div class="col-md-4">
				<img class="img-circle" src="img/avatar/lky.jpg" alt="">
				<h4>刘开元</h4>
				<p>人是一株会思考的苇草.</p>
			</div>
		</div>

		<div class="row centered">
			<br>
			<br>
			<div class="col-md-4">
				<img class="img-circle" src="img/avatar/tzt.jpg" alt="">
				<h4>谭震涛</h4>
				<p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form.</p>
			</div>

			<div class="col-md-4">
				<img class="img-circle" src="img/avatar/xwc.jpg" alt="">
				<h4>薛伟成</h4>
				<p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form.</p>
			</div>

			<div class="col-md-4">
				<img class="img-circle" src="img/avatar/zy.jpg" alt="">
				<h4>张裕</h4>
				<p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form.</p>
			</div>
		</div>

		<div class="row centered">
			<div class="col-md-4">
				<img class="img-circle" src="img/avatar/llx.jpg" alt="">
				<h4>李龙轩</h4>
				<p>爱吃，爱玩，乐观向上的骚年.</p>
			</div>

			<div class="col-md-4">
				<img class="img-circle" src="img/avatar/lsq.jpg" alt="">
				<h4>李书祺</h4>
				<p>平安喜乐，万事胜意.</p>
			</div>

			<div class="col-md-4">
				<img class="img-circle" src="img/avatar/syq.jpg" alt="">
				<h4>沈亦青</h4>
				<p>片刻之欢愉，不如须臾之静谧.</p>
			</div>
		</div>

		<div class="row centered">
			<div class="col-md-4">
				<img class="img-circle" src="img/avatar/zjj.jpg" alt="">
				<h4>张佳佳</h4>
				<p>平安喜乐，万事胜意.</p>
			</div>
		</div>
	</div>

	<%- include('foot') %>
</body>
</html>
